@* <p>
	<b>Name: </b> <span>@FirstName @LastName </span><br />
	<b>Email: </b><i>@Email</i>
</p> *@

<p>
	<b>Name: </b> <span>@CurrentContact.FirstName @CurrentContact.LastName </span><br />
	@if (DisplayEmail)
	{
		<b>Email: </b><i>@CurrentContact.Email</i><br />
	}
	@if (displayInfo)
	{
		<span>The Email Address of @CurrentContact.FirstName @CurrentContact.LastName is @CurrentContact.Email</span>
	}
	<br />
	<button @onclick="@(() => { Console.WriteLine("clicked"); displayInfo = !displayInfo; })">Show Info</button>
	<button @onclick="@(() => DeleteCurrentContact.InvokeAsync(CurrentContact))" >Delete</button>

</p>

@code {
		/*
	[Parameter]
	public string FirstName { get; set; }

	[Parameter]
	public string LastName { get; set; }

	[Parameter]
	public string Email { get; set; }
			*/

	// 매개변수로 전달하지 않고 모델클래스가 전달
	[Parameter]
	public Contact? CurrentContact { get; set; }
	// 임의의 매개변수를 전달 ==> public 변수를 선언하고 이 매개변수 속성을 제공하는 것

	[Parameter]
	public bool DisplayEmail { get; set; }

	[Parameter]
	public EventCallback<Contact> DeleteCurrentContact { get; set; }

	private bool displayInfo = false;

	
}
